/*============ UPLOAD FONT FAMILLY ============*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed:wght@300;400;700&display=swap');

/*============ STAR ROLS ============*/

* {
    box-sizing: border-box;
}

:root {
    --main-color: #13547a;
    --seconde-color: #a1c4fd;
    --background-color: ;
    --font-nrml: 1rem;
    --font-bold: ;
    --border-raduis: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898; */
    background-blend-mode: multiply, multiply;
}

image,
img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #fff1eb;
    font-size: 4rem;
}

.center {
    text-align: center;
}


/*============ STAR CONTAINER ============*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width:767px) {
    .container {
        width: 737px;
    }
}

@media (min-width:992px) {
    .container {
        width: 962px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}


/*============ STAR HEADER ============*/

header {
    padding: 10px 0;
}

header .container {}

header .container nav {
    display: flex;
    justify-content: space-around;
}
@media (max-width:767px) {
    header .container nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
header .container nav .logo {
    font-size: 1.25rem;
    letter-spacing: -1px;
    word-spacing: -2px;
    font-size: bold;
}
@media (max-width:767px){
    header .container nav .logo {
        margin-bottom: 20px;
    }
}
header .container nav .logo span:last-child {
    color: #a1c4fd;
}

header .container nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav ul li a {
    margin-left: 20px;
    font-size: 1.25rem;
    color: #a1c4fd;
}

header .container nav ul li a:hover {
    color: white;
}


/*============ TITLE ============*/

h1 {
    margin: 20px auto;
}

@media (max-width:767px) {
    h1 {
        font-size: 28px;
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}

.popup{
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--main-color);
    border-radius: var(--border-raduis);
    padding: 50px;
}
@media (max-width:767px) {
    .popup{
        width: 250px;
        height: 230px;
    }
}
.popup .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup p {
    font-size: 25px;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}
@media (max-width:767px) {
    .popup p {
        font-size: 20px;
    }
}
.popup input{
    padding: 10px;
    border:2px solid  var(--main-color);
    font-size: 18px;
    margin-bottom: 10px;
}
.popup input:focus{
    outline-color: var(--main-color);
}
.popup button{
    outline: none;
    border: none;
    background-color:  var(--main-color);
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.popup button:hover{

}
@media (max-width:767px){
    .popup input{
        padding: 5px;
        font-size: 1rem;
    }
    .popup button{
        font-size: 1rem;
        padding: 5px 10px;
    }
}

/*============ STAR MAIN ============*/

main {
    width: 100%;
}

main .container {
    display: flex;
    gap: 10px;
}

@media (max-width:767px) {
    main .container {
       flex-direction: column;
    }
}


/*============ STAR ASIDE ============*/

main aside {
    padding-top: 25px;
    padding-bottom: 25px;
    width: calc(30% - 10px);
    border: 5px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    background-color: #a1c4fd;
}
@media (max-width:767px) {
    main aside{
        width: 100%;
        row-gap: 10px;
    }
}
aside .level {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
@media (max-width:991px){
    aside .level{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
aside button {
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: var(--main-color);
    color: white;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: var(--border-raduis);
    transition: 0.5s;
}
@media (max-width:991px) {
    aside button {
        margin: 0 0 20px 0;
    }
}
@media (max-width:767px) {
    aside button {
        font-size: 14px;
        padding: 10px 20px;
        margin: 0 0 20px 0;
    }
}
aside button:hover {
    background-color: white;
    color: var(--main-color);
}

main aside .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    padding: 0 10px;
}

main aside .info>span {
    color: var(--main-color);
    background-color: white;
    padding: 10px 20px;
    border-radius: var(--border-raduis);
    font-size: 1.25rem;
    text-align: center;
}

@media (max-width:767px) {
    main aside .info>span {
        padding: 10px;
        margin-bottom: 20px;
    }
    main aside .info .name {
        font-size: 18px;
    }
}
.star {
    width: 80%;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: linear-gradient(to right, white 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    background-position: right top;
}

.star:hover {
    background-position: left top;
}

@media (max-width:991px) {
    aside>button {
        width: 50%;
    }
    .sound{
        width: 75%;
        height: 40px;
    }
}

.sound{

}
/*============ STAR SECTION ============*/

main section {
    border: 5px solid #fff1eb;
    position: relative;
    width: 60%;
    flex: 1;
}
@media (max-width:767px) {
    main section {
        width: 100%;
    }
}
main section .text {
    margin: 25px auto;
    font-size: 55px;
    color: #a1c4fd;
    text-align: center;
}
@media (max-width:767px) {
    main section .text {
        font-size: 1.5rem;

    }
}
section .game-block {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.egual {
    transform: rotateY(180deg);
}

.feli {
    background-color: #a1c4fd;
    color: var(--main-color);
    padding: 30px 15px;
    width: 80%;
    height: 50%;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
@media (max-width:991px) {
    .feli {
        font-size: 25px;
        
    }
}
@media (max-width:667px) {
    .feli {
        position: relative;
        margin: 30px auto;
        transform: none;
        top: 0;
        left: 0;
    }
}
section svg {
    margin-left: 10px;
    font-size: 35px;
    color: #29323c;
}

@media (max-width:767px) {
    .feli {
        width: 80%;
        font-size: 20px;
    }
    section svg {
        font-size: 25px;
    }
}

section .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}

section .game-block .back {
    background-color: #a1c4fd;
    transform: rotateY(180deg);
}

section .game-block .front {
    background-color: black;
    color: white;
    font-size: 90px;
    line-height: 120px;
    text-align: center;
}

section .game-block .back img {
    width: 100%;
    height: 100%;
    background-color: #c3cfe2;
    border-radius: var(--border-raduis);
}

.hide {
    display: none;
}

.stop-click {
    pointer-events: none;
}


/* ============= Responsive Livel 1 ============= */

.flex-livel-1 {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 20px;
}

@media (max-width:1200px) {
    .flex-livel-1 {
        grid-template-columns: repeat(4, 130px);
        grid-template-rows: repeat(4, 130px);
        gap: 15px;
    }
}

@media (max-width:991px) {
    .flex-livel-1 {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(4, 80px);
    }
    .flex-livel-1 .game-block .front {
        font-size: 45px;
        line-height: 70px;
    }
}

@media (max-width:767px) {
    .flex-livel-1 {
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(4, 50px);
    }
    .flex-livel-1 .game-block .front {
        font-size: 35px;
        line-height: 60px;
    }
}


/* ============= Responsive Livel 2 ============= */

.flex-livel-2 {
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(4, 110px);
    gap: 20px;
}

@media (max-width:1200px) {
    .flex-livel-2 {
        grid-template-columns: repeat(6, 80px);
        grid-template-rows: repeat(4, 80px);
    }
    .flex-livel-2 .game-block .front {
        font-size: 45px;
        line-height: 70px;
    }
}

@media (max-width:991px) {
    .flex-livel-2 {}
}

@media (max-width:767px) {
    .flex-livel-2 {
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(6, 50px);
        gap: 10px;
    }
    .flex-livel-2 .game-block .front {
        font-size: 25px;
        line-height: 50px;
    }
}


/* ============= Responsive Livel 3 ============= */

.flex-livel-3 {
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
}

@media (max-width:1200px) {
    .flex-livel-3 {
        grid-template-columns: repeat(6, 80px);
        grid-template-rows: repeat(5, 80px);
    }
    .flex-livel-3 .game-block .front {
        font-size: 45px;
        line-height: 70px;
    }
}

@media (max-width:991px) {
    .flex-livel-3 {}
}

@media (max-width:767px) {
    .flex-livel-3 {
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(6, 40px);
        gap: 10px;
    }
    .flex-livel-3 .game-block .front {
        font-size: 25px;
        line-height: 40px;
    }
}


/*============ STAR FOOTER ============*/

footer {
    padding-top: 30px;
}

footer .info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media (max-width:767px) {
    footer .info {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

footer .info .social-media .txt {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.25rem;
}

footer .info .social-media ul {
    display: flex;
    justify-content: center;
}

footer .info .social-media ul li {
    margin-left: 15px;
}

footer .info .social-media ul li a {
    font-size: 1.5rem;
    color: #a1c4fd;
}

@media (max-width:767px) {
    footer .info ul {
        text-align: center;
    }
}

footer .info ul li:first-child {
    color: white;
    margin-bottom: 15px;
}

footer .info ul li {
    font-size: 1.25rem;
    color: #a1c4fd;
}
@media (max-width:767px){
    footer .info ul li {
        font-size: 1rem;

    }
}
footer .copyright {
    text-align: center;
}

footer .copyright span {
    color: #a1c4fd;
}

footer .copyright span:hover,
footer .info ul:first-child li a:hover,
footer .info ul:last-child li:hover {
    color: white;
}
@media (max-width:767px){
    footer {
        font-size: 1rem;
    }

}
/*======== PAGE CONTACT =========*/

form{
    background-color: #a1c4fd;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto;
    row-gap: 40px;
}

form > div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
form .form-label{
    font-size: 1.5rem;
}
form input,
form textarea{
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: 0;
    outline: none;
    font-size: 1rem;
}
form textarea:focus{
    outline-color: #13547a;
}

form .submit{
    font-size: 1.25rem;
    text-transform: uppercase;
    background: linear-gradient(to right, white 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    background-position: right top;
    color: white;
    border: 0;
    outline: none;
    width: 150px;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 10px auto;
}
.submit:hover {
    background-position: left top;
    color: #13547a;
}
@media (max-width:767px) {
    form .form-label{
        font-size: 18px;
    }
    form .submit{
        font-size: 18px;
    }
    
}